



/*cudrillos jotones*/
.date{
	width: 4em;
	height: 4em;
	background-color: gray;
	display: inline-block;
	padding:1em;	
	font-weight: bold;
	font-size: 1em;
	position: relative;
	bottom: 60px;
	margin-bottom: 3px;
}
.friend{
	display: inline-block;
	position: relative;
	bottom: 100px;
	width: 200px;
}
.friend2{
	width: 100px;
	position: relative;
	bottom: 90px;
	display: inline;
	list-style-type: none;
	font-size: 10px;

}
.margin{
	width: 20%;
	height: 20em;
	font-size: 10px;
}


